<!DOCTYPE html>
<html>
  <head>
    <title>WiredIn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <meta property="og:title" content="WiredIn" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="WiredIn is a functional LinkedIn clone in which a user can create
       an account and profile and connect with other members. The user has the ability 
       to create, edit and delete posts as well as edit all basic profile information. 
       They may also view other memeber's profiles."
     />
     <meta property="og:url"
       content="http://w-in.herokuapp.com/"
     />

     <link rel="shortcut icon" type="image/jpg" href="<%= image_url('LI-In-Bug.png') %>" />

    <script type="text/javascript"> window.mainlogo = "<%= image_url('wiredIn_logo.png') %>"</script>
    <script type="text/javascript"> window.hero = "<%= image_url('hero.jpg') %>"</script>
    <script type="text/javascript"> window.bannerimage = "<%= image_url('banner_image.png') %>"</script>
    <script type="text/javascript"> window.createimage = "<%= image_url('createuser2.jpg') %>"</script>
    <script type="text/javascript"> window.logo3 = "<%= image_url('wiredIn_2.png') %>"</script>
    <script type="text/javascript"> window.logo2 = "<%= image_url('wiredIn_logo.png') %>"</script>
    <script type="text/javascript"> window.logo = "<%= image_url('LI-In-Bug.png') %>"</script>
    <script type="text/javascript"> window.banner = "<%= image_url('banner.jpg') %>"</script>
    <script type="text/javascript"> window.avatar = "<%= image_url('profile_placeholder.jpg') %>"</script>
    <script type="text/javascript"> window.experience = "<%= image_url('experience.jpg') %>"</script>
    <script type="text/javascript"> window.education = "<%= image_url('education.jpg') %>"</script>
    <script type="text/javascript"> window.developer = "<%= image_url('developer.jpg') %>"</script>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
